__pycache__/*
src/CARMA/build/*
src/data/eos/*
src/kzz.py
src/refractive_indices_txt_files/** 
**/__pycache__
src/carmapy.egg-info/** 
build/lib/** 
docs/build/** 
.DS_Store

src/CARMA/source/base/*.mod
docs/source/notebooks/custom_gases/** 
docs/source/notebooks/test_coag/** 
src/example_data/subneptune_3000*
docs/source/notebooks/2d_carmapy/inputs/*



**/carmapy.exe
**/*_2d_carmapy.txt
docs/source/notebooks/2d_carmapy/temp_levels.txt
dist/** 
docs/source/notebooks/custom_gasses/**
docs/source/notebooks/other_features/**
build/** 
wheelhouse/*